.header__link {
  font-size: 18px;
  line-height: 22px;
  color: #FFF;
  text-decoration: none;
}

/* стили для экранов с разрешением менее 650px по ширине */
@media screen and (max-width: 649px) {
  .header__link {
    font-size: 14px;
    line-height: 17px;
  }   
}