.profile__description {
  max-width: 350px;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

@media screen and (max-width: 649px) {
  /* стили для экранов с разрешением менее 650px по ширине */
  .profile__description {
    max-width: 220px;
    font-size: 14px;
    line-height: 17px;
    padding-top: 14px;
  }
}
