.profile__add-button {
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 2px;
  background:
    linear-gradient(#fff,#fff),
    linear-gradient(#fff,#fff),
    #000;
  background-position:center;
  background-size: 22px 2px,2px 22px;
  background-repeat: no-repeat;
  outline-style: none;
}

.profile__add-button:hover {
  cursor: pointer;
  transition: opacity 0.2s;
  opacity: 0.6;
}

@media screen and (max-width: 1023px) {
  /* стили для экранов с разрешением менее 1024px по ширине */
  .profile__add-button {
    width: 282px;
    background-size: 16px 2px,2px 16px;
  }
}
